body {
    background-color: #111111
}
h1 {
    color: #e2e80f;
}
p {
    color: #eeeeee;
    font-size: 20px;
    line-height: 50px;
}
p > span.credits {
text-decoration: underline;
text-decoration-color: blue;
color: #49daff
}
p > span.credits:hover {
  color: red;
  cursor: pointer;
}
#film-description {
  font-size: 20px;
  font-style: italic;
}